@import url(../fonts);
:root{
     --main-brand-color: #297ae3;
     --primary-color:#15171C;
     --secondery-color: #232933;
     --light-secondary-color:#2e3744;
     --text-color:white;
     --secondary-text-color: #b3b4b6;
}
*{
    margin: 0px;
    padding: 0;
    /*box-sizing: border-box;*/
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 65px;
    line-height:115%;
}
h3{
    font-size: 38px;
}
.subheading{
    margin-top: 25px;
    color: var(--secondary-text-color);
}
@media(max-width: 800px){
    h1{
        font-size: 12vw;
        text-align:center;
    }
    .subheading{
        text-align: center;
        font-size: 18px;
    }
    body{
        font-size:16px; 
    }
}
