header {
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    /*position: relative;
    max-width: 100%;
    max-height: 550px;*/
}

.header_text {
    width: 850px;
   /* text-align: left;
    flex: 1;
    margin-right: 20px;
    z-index: 1;
    max-width: 50%;*/
}

.circle {
    height: 400px;
    width: 400px;
   
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);

    max-height: 80vw;
    max-width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-image: url('../images/fotoportfolio.jfif');
    background-position: center;
    background-size: cover;
    float: right;
    margin-left: 10px;
    margin-top: -450px;*/
}
.circle img{
   width: 100%;
}
nav{
    margin-bottom: 120px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}
nav a:hover{
    color: var(--text-color);
}
nav a::after{
    content: '';
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out
}
nav a:hover::after{
    width: 100%;
}
#toggle_button{
    display: none;
}
label[for="toggle_button"]{
    display: none;
}
label[for="toggle_button"] span{
    font-size: 120px;
}
@media (max-width: 800px) {
    nav {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondery-color);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }
    nav ul{
        display: none;
        flex-direction:column;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }
    label[for="toggle_button"]{
        display: block;
    }
    
    header {
        /*flex-direction: column;*/
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 50px;
        max-height: 100%;
        padding: 280px
    }

    .header-content {
        text-align: center;
        max-width: 90vw;
    }

    .circle {
        height: 200px;
        width: 200px;
        margin-top: 180px;
        gap: 20px;
    }
    h1 {
        font-size: 8vw;
    }

    .subheading {
        font-size: 3.5vw;
    }
}